@font-face {
  font-family: amiibo-font;
  src: url(idk.ttf);
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
a {text-align: center;}

.button {
  background-color: #00d5ff;
  border: none;
  color: tomato;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}

div {
  font-family: amiibo-font;
}

p {
  text-align: center;
}

body {
  color: #00d5ff;
}

h1 {
  color: #00d5ff;
}

h2 {
  color: #00d5ff;
}

h3 {
  color: #00d5ff;
}

body {
  background-color: Tomato;
}

h1 {
  font-family: amiibo-font;
}

h2 {
  font-family: amiibo-font;
}

h3 {
  font-family: amiibo-font;
}

a {
  font-family: amiibo-font;
}
