@font-face {
  font-family: amiibo-font;
  src: url(idk.ttf);
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
a {text-align: center;}



div {
  font-family: amiibo-font;
}

p {
  text-align: center;
}

body {
  color: blue;
}

h1 {
  color: blue;
}

h2 {
  color: blue;
}

h3 {
  color: blue;
}

body {
  background-color: Tomato;
}

h1 {
  font-family: amiibo-font;
}

h2 {
  font-family: amiibo-font;
}

h3 {
  font-family: amiibo-font;
}

a {
  font-family: amiibo-font;
}
